{% extends "master.html" %}

{% block title %}
  404 - Page not found
{% endblock %}

{% block content %}
  <div style="max-width: 720px; margin: 60px auto; padding: 24px; text-align: center;">
    <h1 style="margin: 0 0 10px 0; font-size: 56px;">404</h1>
    <p style="margin: 0 0 18px 0; font-size: 18px;">
      This page could not be found. It may have been moved or does not exist.
    </p>
    <p style="margin: 0; font-size: 16px;">
      <a href="{% url 'welcome' %}">Back to Home</a>
      &nbsp;|&nbsp;
      <a href="{% url 'members' %}">Members</a>
      &nbsp;|&nbsp;
      <a href="{% url 'contact' %}">Contact </a>
    </p>
  </div>
{% endblock %}