{% extends "master.html" %}

{% block title %}
  Balance Graph
{% endblock %}

{% block content %}
<style>
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    background-color: #dddddd;
    padding: 5px;
    border-radius: 8px;
  }

  .grid-container > div{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 0;
    padding: 10px;
  }
</style>
<div class="grid-container">
  <div style="color: blue;">
      <br>
      <h3>Total amount collected from Club Members: {{ sum_fees }} EUR</h3>
      <h3>Total amount of all expenses: {{ sum_expenses }} EUR </h3>
      {% if cash_balance > 0 %}
      <h2 style="color: green;">There is {{ cash_balance }} EUR in cash treasury now</h2>
      {% elif cash_balance < 0 %}
      <h2 style="color: red;">There is {{ cash_balance }} EUR in cash treasury now</h2>
      {% else %}
      <h2 style="color: blue;">There is {{ cash_balance }} EUR in cash treasury now</h2>
      {% endif %} 
  </div>
  <div>
      {% if graph %}
      {{ graph|safe }}
      {% else %}
      <p>No graph was provided.</p>
      {% endif %}
  </div>
</div>
{% endblock %}

