{% extends "master.html" %}

{% block title %}
  Club Events
{% endblock %}

{% block content %}
  <div class="main">
    <h1> List of Events </h1>
    <br>
    <div>
      <style>
        table, td, th {
          border: 2px solid black;
        }
        
        table {
          border-collapse: collapse;
          width: 100%;
        }
        
        td {
          text-align: center;
        }
        </style>
      <table>
        <tr style="position:relative; color: black;">
            <th>Id </th>
            <th>Event Name </th>
            <th>Event Date </th>
            
        </tr>
        {% for x in myevents %}
          <tr>
            <td>{{ x.id }}
            <td>{{ x.event_name }}</td>
            <td>{{ x.event_date }}</td>
           
        {% endfor %}
          </tr>
    </table>
    </div>
    <br>
 
    <div class="main">
      {% include 'footer.html' %}
    </div>

    <br>

    

  </div>
  <div class="main">
    <h1> Members registered for the club event </h1>
    <table>
      <tr style="position:relative; color: black;">
          <th>Id </th>
          <th>Name </th>
          <th>Email </th>
          <th>Event </th>
      </tr>
      {% for member in members_subscribed_for_event %}
        <tr>
          <td>{{ member.id }}
          <td>{{ member.name }}</td>
          <td>{{ member.email }}</td>
          <td>{{ member.event}}</td>
      {% endfor %}
        </tr>
  </table>
  </div>

  


  

{% endblock %}

