{% extends "master.html" %}

{% block title %}
  Club Events
{% endblock %}

{% block content %}
  <div class="main">
    <h1 style="text-align: center; color: blue;"> List of Events in {{ year_now }} </h1>

    <!-- Display success message after form submission -->
    {% if success_message %}
        <div class="success-message" style="text-align: center; color: green;">
            {{ success_message }}
            <p></p>
        </div>
    {% endif %}
    <br>
    <div>
      <style>
        .styled-table {
          width: 100%;
          border-collapse: collapse;
          margin: 20px 0;
          font-size: 18px;
          text-align: left;
          border-radius: 8px 8px 0 0;
          overflow: hidden;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }

        .styled-table thead tr {
          background-color: #009879;
          color: #ffffff;
          text-align: center;
          font-weight: bold;
        }

        .styled-table th, .styled-table td {
          padding: 12px 15px;
          border: 1px solid #dddddd;
        }

        .styled-table tbody tr {
          border-bottom: 1px solid #dddddd;
        }

        .styled-table tbody tr:nth-of-type(even) {
          background-color: #f3f3f3;
        }

        .styled-table tbody tr:hover {
          background-color: #f1f1f1;
        }

        .styled-table tbody tr:last-of-type {
          border-bottom: 2px solid #009879;
        }

        .styled-table td {
          text-align: center;
        }

        .table-container {
          margin: 20px 0;
        }
      </style>

      <div class="table-container">
        <table class="styled-table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Event Date</th>
              <th>Event Name</th>
              <th>Event Details</th>
            </tr>
          </thead>
          <tbody>
            {% for x in events_this_year %}
              <tr>
                <td>{{ x.id }}</td>
                <td>{{ x.event_date }}</td>
                <td>{{ x.event_name }}</td>
                <td>{{ x.event_description }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <br>

    <div class="main">
      <style>
        .signing_up-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        max-width: 1200px; 
        padding: 10px;
        text-align: center;
        }
      </style>
  
      <div class="signing_up-container">
          <section>
              <form method="post" action="{% url 'club_events' %}">
                  {% csrf_token %}
                  <h3>Signing up for a club event</h3>
                  <input style="border: 2px solid black; border-radius: 5px;" id="name" name="name" placeholder="your name" required/>
                  <input style="border: 2px solid black; border-radius: 5px;" id="email" name="email" type="email" placeholder="email address" required/>
                  <input style="border: 2px solid black; border-radius: 5px;" id="event" name="event" placeholder="event name" required/>
                  <button style="border: 2px solid black; border-radius: 5px;" type="submit" value="Submit">Submit</button>       
              </form>
          </section>
      </div>
    </div>
    <br>  
  </div>

  <div class="main">
    <h1 style="text-align: center; color: blue;"> Members registered for the club event in {{ year_now }} </h1>
    <div class="table-container">
      <table class="styled-table">
        <thead>
          <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Email</th>
              <th>Event</th>
          </tr>
        </thead>
        <tbody>
          {% for member in members_subscribed_for_event_this_year %}
            <tr>
              <td>{{ member.id }}</td>
              <td>{{ member.name }}</td>
              <td>{{ member.email }}</td>
              <td>{{ member.event }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
