{% extends "master.html" %}
{% load static %}

{% block title %}
  Club Treasury
{% endblock %}

{% block content %}
 
<h2 style="text-align: center; color: blue;">Membership Fees 2024</h2>

<div class="main">
  <style>
    table, td, th {
      border: 1px solid black;
    }
    
    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    td {
      text-align: center;
    }
    </style>
    <table>
        <tr style="position:relative;">
            <th>Id </th>
            <th>First Name </th>
            <th>Last Name </th>
            <th>Member Fees </th>
        </tr>
        {% for x in mymembers %}
          <tr>
            <td>{{ x.id }}
            <td>{{ x.firstname }}</td>
            <td>{{ x.lastname }}</td>
            <td>{{ x.member_fees}}</td>
        {% endfor %}
          </tr>
    </table>
</div>

<h2 style="text-align: center; color: blue;">Club Expenses 2024</h2>

<div class="main">
  <table>
      <tr>
          <th>Id </th>
          <th>Date </th>
          <th>Event Name </th>
          <th>Note </th>
          <th>Amount </th>
      </tr>
      {% for x in myexpenses %}
        <tr>
          <td>{{ x.id }}
          <td>{{ x.payment_date }}</td>
          <td>{{ x.event_name }}</td>
          <td>{{ x.purpose}}</td>
          <td>{{ x.amount}}</td>
      {% endfor %}
        </tr>
  </table>
</div>

<div style="text-align: center; color: blue;">
  <h2>Total Summary 2024</h2>

  <h2>There is {{ cash_balance }} EUR in cash treasury now</h2>
  <h4>Total amount collected from Club Members in 2024 is {{ sum_fees }} EUR</h4>
  <h4>Total amount of all expenses in 2024 is {{ sum_expenses }} EUR </h4>

  {% if cash_balance > 0 %}
    <p>sme v baliku, zvysne peniaze prepijeme :) </p>
  {% elif cash_balance < 0 %}
    <p>sme v prdeli, buducorocne clenske treba navysit :) </p>
  {% else %}
    <p> ziaden strach, mame v pokladni nulu !</p>
  {% endif %}
</div>

{% endblock %}