{% extends "master.html" %}

{% block title %}
  Details about {{ mymember.firstname }} {{ mymember.lastname }}
{% endblock %}

{% block content %}
  <div class="mycard">
    <h1>{{ mymember.firstname }} {{ mymember.lastname }}</h1>
    <p>Phone: {{ mymember.phone }}</p>
    <p>Member since: {{ mymember.joined_date }}</p>
    <p>Address: {{ mymember.address }}</p>
    <p>Zip/City: {{ mymember.zipcode}}, {{mymember.city }}</p>
    <p>Country: {{ mymember.country }}</p>
    <p>Member Fees: {{ mymember.member_fees }} EUR</p>
  </div>
{% endblock %}  