<style>
    .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px; 
    padding: 10px;
    text-align: center;
}
</style>
<footer>  
    <div class="footer-container">
        <section>
            <form method="post" action="{% url 'club_events' %}">
                {% csrf_token %}
                <h3>Signing up for a club event</h3>
                <input style="border: 2px solid black; border-radius: 5px;" id="name" name="name" placeholder="your name" required/>
                <input style="border: 2px solid black; border-radius: 5px;" id="email" name="email" type="email" placeholder="email address" required/>
                <input style="border: 2px solid black; border-radius: 5px;" id="event" name="event" placeholder="event name" required/>
                <button style="border: 2px solid black; border-radius: 5px;" type="submit" value="Submit">Submit</button>       
            </form>
        </section>
    </div>
</footer>