<footer>  
    <div>
        <section>
                <form action="club_events.html", method="post"
                    <p>Signing up for a club event</p>
                    <input id="name" name="name" class="form-control" placeholder="Your Name"/>
                    <input id="email" name="email" type="email" placeholder="Email address"/>
                    <input id="event" name="event" placeholder="Club Event"/>
                    <button type="submit" value="Submit">Submit</button>       
                </form>
        </section>
    </div>
    <br>
    <br>
    <div style="background-color: rgba(0, 0, 0, 0.2); text-align: center;">
        <p>© {% now "Y" %} Copyright: Cycling Club Tvrdosin</p>
    </div>
</footer>