{% extends "master.html" %}

{% block title %}
  Club Events
{% endblock %}

{% block content %}
	<title>Picture Gallery</title> 
	<style> 
		.picture-list { 
			display: flex; 
			flex-wrap: wrap; 
			justify-content: space-between; 
			list-style: none; 
			padding: 0; 
		} 

		.picture-item { 
			flex: 1; 
			max-width: 30%; 
			margin: 10px; 
			border: 1px solid #ccc;  
			padding: 10px; 
			text-align: center; 
		} 
	</style> 
  
	<h2 style="text-align: center; color: blue;">Club Pictures</h2>
	
	<ul class="picture-list"> 
		{% for picture in club_pictures %}
			<li class="picture-item"> 
				<a href="{{ picture.image.url }}" target="_blank"> 
					<img src="{{ picture.image.url }}" alt="{{ picture.name }}" width="200">
				</a> 
				<h2>{{ picture.name }}</h2> 
			</li> 
		{% endfor %} 
	</ul>
{% endblock %}
