{% load static %}

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'mystyles.css' %}">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>

  <div class="topnav">
    <a href="/welcome">HOME</a> |
    <a href="/members">MEMBERS</a> |
    <a href="/club_treasury">CLUB TREASURY</a> |
    <a href="/club_events">CLUB EVENTS</a> |
    <a href="/balance_graph">BALANCE GRAPH</a> |
    <a href="/gallery">GALLERY</a> |
    <a href="/contact">CONTACT</a> |
    <a href="/testing">TESTING</a> |
    <span style="float:right; margin-left: 10px; color: brown;">Hello {{request.user.username}}</span>
    <a style="float:right; margin-left: 10px;" href="/admin">ADMIN</a>
    <a style="float:right" href="/">LOGOUT</a>
  </div>

{% block content %}
{% endblock %}

</body>
</html>